<div class="container  m-t-3">
  <h3>Estimate {{(mode)}}</h3>
  <div class="container m-3" *ngIf="mode!='VIEW'">
    <div class="row">
      <div class="col-md-auto ml-1" [class.text-info]="currentStep=='contact'" [class.text-secondary]="currentStep!='contact'">
        <i class="fa" [class.fa-lg]="currentStep=='contact'"  [class.fa-circle-o]="!stepContactOK" [class.fa-check-circle-o]="stepContactOK" aria-hidden="true"></i> Fill out your contact </div>
      <div class="col-md-1 m-0 p-0">
        <hr/>
      </div>
      <div class="col-md-auto" [class.text-info]="currentStep=='car'" [class.text-secondary]="currentStep!='car'">
        <i class="fa" [class.fa-lg]="currentStep=='car'" [class.fa-circle-o]="!stepCarOK" [class.fa-check-circle-o]="stepCarOK"  aria-hidden="true"></i> Fill out your car information</div>
      <div class="col-md-1 m-0 p-0">
        <hr/>
      </div>
      <div class="col-md-auto" [class.text-info]="currentStep=='finish'" [class.text-secondary]="currentStep!='finish'">
        <i class="fa" [class.fa-lg]="currentStep=='finish'" [class.fa-circle-o]="currentStep!='done'" [class.fa-check-circle-o]="currentStep=='done'"  aria-hidden="true"></i> Finish</div>
    </div>
  </div>
  <app-msg-util [messageText]="alertMessage" [messageTypeError]="alertMessageTypeError" [showMessage]="showMessage" (msgHidden)="hideAlert()"></app-msg-util>
  <app-progress-mask [showProgress]="showProgressBar"></app-progress-mask>
  <form (ngSubmit)="onSubmit()" [formGroup]="wizardForm">
     <div class="panel" *ngIf="currentStep=='contact' && mode!='VIEW'" formGroupName="contact">
      <div class="form-group row" [class.d-none]="mode=='NEW'" [class.visible]="mode!='NEW'">
        <label for="requestId" class="col-sm-2 col-form-label">Request ID</label>
        <div class="col-sm-10">
          <label >{{req.requestId}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label for="customerFirstName" class="col-sm-2 col-form-label">Name*</label>
        <div class="col-sm-4">
          <input formControlName="customerFirstName" type="text"  class="form-control" id="customerFirstName" >
          <span class="help-block text-danger" *ngIf="wizardForm.get('contact').get('customerFirstName').touched && (!wizardForm.get('contact').get('customerFirstName').valid) ">Please enter first name</span>
        </div>
        <div class="col-sm-2">
          <input formControlName="customerMiddleName" type="text"  class="form-control" id="customerMiddleName" >
        </div>
        <div class="col-sm-4">
          <input formControlName="customerLastName" type="text"  class="form-control" id="customerLastName" >
          <span class="help-block text-danger" *ngIf="wizardForm.get('contact').get('customerLastName').touched && (!wizardForm.get('contact').get('customerLastName').valid) ">Please enter last name</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Contact*</label>
        <div class="col-sm-5">
          <input type="email" formControlName="email"  class="form-control" maxlength="100" id="email" placeholder="name@example.com">
          <span class="help-block text-danger" *ngIf="wizardForm.get('contact').get('email').touched && !wizardForm.get('contact').get('email').valid">Please enter a valid email</span>
        </div>
        <div class="col-sm-5">
          <input type="text" formControlName="customerPhone"  maxlength="10" class="form-control" id="customerPhone"
            placeholder="0000000000" >
            <span class="help-block text-danger" *ngIf="wizardForm.get('contact').get('customerPhone').touched && (!wizardForm.get('contact').get('customerPhone').valid)">Please enter a phone number</span>
        </div>
      </div>
      <div class="form-group row">
        <label for="requestedDate" class="col-sm-2 col-form-label">Service Requested On*</label>
        <div class="col-sm-4">
          <input formControlName="requestedDate" type="date"  class="form-control" id="requestedDate">
          <span class="help-block text-danger" *ngIf="wizardForm.get('contact').get('requestedDate').touched && (!wizardForm.get('contact').get('requestedDate').valid)">Please enter request date</span>
        </div>
        <legend class="col-sm-2 col-form-label">Preferred contact*</legend>
        <div class="col-sm-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  formControlName="preferredContactMethod" value="phone">
            <label class="form-check-label" for="phone">
              Phone
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  formControlName="preferredContactMethod" value="email" >
            <label class="form-check-label" for="email">
              Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="preferredContactMethod" value="sms">
            <label class="form-check-label" for="sms">
              Text Message
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="addressLine1" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-5">
          <input formControlName="addressLine1" type="text"  maxlength="100" class="form-control" id="addressLine1" >
        </div>
        <div class="col-sm-5">
          <input formControlName="addressLine2" type="text"  maxlength="100" class="form-control" id="addressLine2" >
        </div>
      </div>

      <div class="form-group row">
        <label for="addressZip" class="col-sm-2 col-form-label">Zip/City/State*</label>
        <div class="col-sm-2">
          <input formControlName="addressZip" type="text" placeholder="Zip code"  maxlength="10" class="form-control"
            id="addressZip" (focusout)="populateCityState($event)" >
            <span class="help-block text-danger" *ngIf="wizardForm.get('contact').get('addressZip').touched && (!wizardForm.get('contact').get('addressZip').valid)">Please enter zip code</span>
        </div>
        <div class="col-sm-4">
          <input formControlName="addressCity" type="text" placeholder="City"  class="form-control" id="addressCity">
        </div>
        <div class="col-sm-4">
          <select formControlName="addressState" class="form-control" id="addressState">
            <option  value=''>Select State</option>
            <option value='WA'>Washington</option>
            <option value='CA'>California</option>
            <option value='NY'>New York</option>
            <option value='OR'>Oregon</option>
          </select>
        </div>
      </div>
    </div>

    <div class="panel" *ngIf="currentStep=='car' && mode!='VIEW'" formGroupName="car">
      <div class="form-group row">
        <label for="vehicleMake" class="col-sm-2 col-form-label">Make*</label>
        <div class="col-sm-2">
          <select formControlName="vehicleMake" class="form-control" id="vehicleMake">
            <option>Honda</option>
            <option>Toyota</option>
            <option>Chrysler</option>
            <option>GM</option>
            <option>Ford</option>
          </select>
        </div>
        <label for="vehicleModel" class="col-sm-1 col-form-label">Model*</label>
        <div class="col-sm-3">
          <input formControlName="vehicleModel" type="text"  class="form-control" id="vehicleModel">
        </div>
        <label for="vehicleYear" class="col-sm-1 col-form-label">Year*</label>
        <div class="col-sm-3">
          <input formControlName="vehicleYear" type="number"  maxlength="4" min="1990" max="2018" class="form-control"
            id="vehicleYear" >
        </div>
      </div>
      <div class="form-group row">
        <label for="vehicleVin" class="col-sm-2 col-form-label">Car VIN# (If available)</label>
        <div class="col-sm-4">
          <input formControlName="vehicleVin" maxlength="17" type="text"  class="form-control" id="vehicleVin" placeholder="VIN"
            >
        </div>
        <legend class="col-sm-2 col-form-label">Car Location </legend>
        <div class="col-sm-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="vehicleLocation" id="home" value="home" >
            <label class="form-check-label" for="home">
              Home
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="vehicleLocation" id="work" value="work">
            <label class="form-check-label" for="work">
              Work
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="vehicleLocation" id="otherLocation" value="text">
            <label class="form-check-label" for="otherLocation">
              Others
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="symptoms" class="col-sm-2 col-form-label">Symptoms</label>
        <div class="col-sm-4">
          <textarea formControlName="symptoms" class="form-control"  id="symptoms" rows="3"></textarea>
        </div>
        <label for="userComments" class="col-sm-2 col-form-label">Other Comments</label>
        <div class="col-sm-4">
          <textarea formControlName="userComments" class="form-control"  id="userComments" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="panel" *ngIf="currentStep=='finish' || currentStep=='done' ||mode=='VIEW' ">
      <app-view-estimate [request]="req"></app-view-estimate>
    </div>


    <div class="row">
      <div class="col-sm-12 text-right">
        <button class="btn btn-secondary" *ngIf="currentStep!='done'" name="cancel" type="button" (click)="cancel()"><i class="fa fa-ban"></i> Cancel</button>
        <button class="btn btn-secondary" *ngIf="currentStep=='done'" name="close" type="button" (click)="cancel()"><i class="fa fa-times"></i> Close</button>

        <button class="btn btn-primary" *ngIf="currentStep=='finish'" name="submit2" type="submit" [disabled]="!wizardForm.valid" [class.visible]="mode!='VIEW'"
          [class.d-none]="mode=='VIEW'"><i class="fa fa-check-circle"></i> Finish</button>
        <button class="btn btn-primary" name="edit" type="button" (click)="edit()" [class.d-none]="mode!='VIEW'"><i class="fa fa-edit"></i> Edit</button>
        <button class="btn btn-primary" *ngIf="currentStep!='done' && mode!='VIEW'" name="prev" type="button" (click)="previous()" [disabled]="currentStep=='contact'"><i class="fa fa-angle-double-left"></i> Previous</button>
        <button class="btn btn-primary" *ngIf="currentStep!='done' && mode!='VIEW'" name="next" type="button" (click)="next()" [disabled]="currentStep=='finish' || !isStepValid()">Next <i class="fa fa-angle-double-right"></i></button>
      </div>
    </div>
  </form>
</div>
