<div class="container  m-t-3">
  <h3>Estimate</h3>
  <div class="container m-3">
    <div class="row">
      <div class="col-md-auto ml-1" [class.text-info]="currentStep=='contact'" [class.text-secondary]="currentStep!='contact'">
        <i class="fa" [class.fa-lg]="currentStep=='contact'"  [class.fa-circle-o]="!stepContactOK" [class.fa-check-circle-o]="stepContactOK" aria-hidden="true"></i> Fill out your contact </div>
      <div class="col-md-1 m-0 p-0">
        <hr/>
      </div>
      <div class="col-md-auto" [class.text-info.fa-lg]="currentStep=='car'" [class.text-secondary]="currentStep!='car'">
        <i class="fa" [class.fa-lg]="currentStep=='car'" [class.fa-circle-o]="!stepCarOK" [class.fa-check-circle-o]="stepCarOK"  aria-hidden="true"></i> Fill out your car information</div>
      <div class="col-md-1 m-0 p-0">
        <hr/>
      </div>
      <div class="col-md-auto" [class.text-info]="currentStep=='finish'" [class.text-secondary]="currentStep!='finish'">
        <i class="fa fa-circle-o" [class.fa-lg]="currentStep=='finish'"  aria-hidden="true"></i> Finish</div>
    </div>
  </div>
  <app-msg-util [messageText]="alertMessage" [showMessage]="showMessage" (msgHidden)="hideAlert()"></app-msg-util>
  <form (ngSubmit)="onSubmit()" [formGroup]="wizardForm">
     <div class="panel" *ngIf="currentStep=='contact'" formGroupName="contact">
      <div class="form-group row" [class.d-none]="mode=='NEW'" [class.visible]="mode!='NEW'">
        <label for="requestId" class="col-sm-2 col-form-label">Request ID</label>
        <div class="col-sm-10">
          <label >{{req.requestId}}</label>
        </div>
      </div>
      <div class="form-group row">
        <label for="customerFirstName" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-4">
          <input formControlName="customerFirstName" type="text"  class="form-control" id="customerFirstName" >
        </div>
        <div class="col-sm-2">
          <input formControlName="customerMiddleName" type="text"  class="form-control" id="customerMiddleName" >
        </div>
        <div class="col-sm-4">
          <input formControlName="customerLastName" type="text"  class="form-control" id="customerLastName" >
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">Contact</label>
        <div class="col-sm-5">
          <input type="email" formControlName="email"  class="form-control" maxlength="100" id="email" placeholder="name@example.com">
          <span class="help-block" *ngIf="!wizardForm.get('contact').get('email').valid && wizardForm.get('contact').get('email').touched">Please enter a valid email</span>
        </div>
        <div class="col-sm-5">
          <input type="text" formControlName="customerPhone"  maxlength="10" class="form-control" id="customerPhone"
            placeholder="0000000000" >
        </div>
      </div>
      <div class="form-group row">
        <label for="requestedDate" class="col-sm-2 col-form-label">Service Requested On</label>
        <div class="col-sm-4">
          <input formControlName="requestedDate" type="date"  class="form-control" id="requestedDate">
        </div>
        <legend class="col-sm-2 col-form-label">Preferred contact</legend>
        <div class="col-sm-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  formControlName="preferredContactMethod" value="phone">
            <label class="form-check-label" for="phone">
              Phone
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio"  formControlName="preferredContactMethod" value="email" >
            <label class="form-check-label" for="email">
              Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="preferredContactMethod" value="sms">
            <label class="form-check-label" for="sms">
              Text Message
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="addressLine1" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-5">
          <input formControlName="addressLine1" type="text"  maxlength="100" class="form-control" id="addressLine1" >
        </div>
        <div class="col-sm-5">
          <input formControlName="addressLine2" type="text"  maxlength="100" class="form-control" id="addressLine2" >
        </div>
      </div>

      <div class="form-group row">
        <label for="addressZip" class="col-sm-2 col-form-label">Zip/City/State</label>
        <div class="col-sm-2">
          <input formControlName="addressZip" type="text" placeholder="Zip code"  maxlength="10" class="form-control"
            id="addressZip">
        </div>
        <div class="col-sm-4">
          <input formControlName="addressCity" type="text" placeholder="City"  class="form-control" id="addressCity">
        </div>
        <div class="col-sm-4">
          <select formControlName="addressState" class="form-control" id="addressState">
            <option>Select State</option>
            <option>CA</option>
            <option>WA</option>
            <option>NV</option>
            <option>NY</option>
            <option>MA</option>
          </select>
        </div>
      </div>
    </div>

    <div class="panel" *ngIf="currentStep=='car'" formGroupName="car">
      <div class="form-group row">
        <label for="vehicleMake" class="col-sm-2 col-form-label">Make</label>
        <div class="col-sm-2">
          <select formControlName="vehicleMake" class="form-control" id="vehicleMake">
            <option>Honda</option>
            <option>Toyota</option>
            <option>Chrysler</option>
            <option>GM</option>
            <option>Ford</option>
          </select>
        </div>
        <label for="vehicleModel" class="col-sm-1 col-form-label">Model</label>
        <div class="col-sm-3">
          <input formControlName="vehicleModel" type="text"  class="form-control" id="vehicleModel">
        </div>
        <label for="vehicleYear" class="col-sm-1 col-form-label">Year</label>
        <div class="col-sm-3">
          <input formControlName="vehicleYear" type="number"  maxlength="4" min="1990" max="2018" class="form-control"
            id="vehicleYear" >
        </div>
      </div>
      <div class="form-group row">
        <label for="vehicleVin" class="col-sm-2 col-form-label">Car VIN# (If available)</label>
        <div class="col-sm-4">
          <input formControlName="vehicleVin" maxlength="17" type="text"  class="form-control" id="vehicleVin" placeholder="VIN"
            >
        </div>
        <legend class="col-sm-2 col-form-label">Car Location </legend>
        <div class="col-sm-4">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="vehicleLocation" id="home" value="home" >
            <label class="form-check-label" for="home">
              Home
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="vehicleLocation" id="work" value="work">
            <label class="form-check-label" for="work">
              Work
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="vehicleLocation" id="otherLocation" value="text">
            <label class="form-check-label" for="otherLocation">
              Others
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="symptoms" class="col-sm-2 col-form-label">Symptoms</label>
        <div class="col-sm-4">
          <textarea formControlName="symptoms" class="form-control"  id="symptoms" rows="3"></textarea>
        </div>
        <label for="userComments" class="col-sm-2 col-form-label">Other Comments</label>
        <div class="col-sm-4">
          <textarea formControlName="userComments" class="form-control"  id="userComments" rows="3"></textarea>
        </div>
      </div>
    </div>

    <div class="panel" *ngIf="currentStep=='finish' || currentStep=='done' ">
      <app-view-estimate [request]="req"></app-view-estimate>
    </div>


    <div class="row">
      <div class="col-sm-12 text-right">
        <button class="btn btn-secondary" name="cancel" type="cancel" (click)="cancel()">Cancel</button>
        <button class="btn btn-primary" *ngIf="currentStep=='finish'" name="submit2" type="submit" [disabled]="!wizardForm.valid" [class.visible]="mode!='VIEW'"
          [class.d-none]="mode=='VIEW'">Finish</button>
        <button class="btn btn-secondary" name="edit" type="button" (click)="edit()" [class.visible]="mode=='VIEW'" [class.d-none]="mode!='VIEW'">Edit</button>
        <button class="btn btn-primary" name="prev" type="button" (click)="previous()" [disabled]="currentStep=='contact' || currentStep=='done'">Previous</button>
        <button class="btn btn-primary" name="next" type="button" (click)="next()" [disabled]="currentStep=='finish' || !isStepValid() || currentStep=='done'"> Next</button>
      </div>
    </div>
  </form>
</div>
