.carousel-item {
  height: 450px; }

.carousel-image-1 {
  background: url("/assets/img/rainier1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("/assets/img/rainier2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background: url("/assets/img/image3.png");
  background-size: cover; }

.sks-big-icon {
  font-size: 55px; }

.img-yelp {
  display: block;
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto; }

#home-heading {
  position: relative;
  min-height: 200px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;}

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
