<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 id="display-3">We take house calls.</h1>
            <p class="lead">
              Skip the repair shop. Our technicians will get your brakes fixed in the comfort of your home or office without having to drop your car off, or waste time
              waiting.  </p>
            <a href="" class="btn btn-success btn-lg">Get a Free Estimate</a>

          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <p class="lead">
              Our fully equipped vans have everything we need to get the job done. Our overhead is lower so we pass
              the savings on to you. Front brake pad replacement only costs $159 for most cars. Some car repairs will cost more due
              to the quality or number of parts. All of our work comes with a 12 month or 12,000 mile warranty.
            </p>
            <a href="" class="btn btn-success btn-lg">Get a Free Estimate</a>

          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
          </div>
        </div>
      </div>
    </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section id="home-icons" class="py-5">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="text-muted">Get your brakes repaired in three easy steps:</h2>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <i class="fa fa-phone sks-big-icon text-dark mb-2"></i>
          <h3 class="text-muted">CALL OR REQUEST AN ESTIMATE ONLINE</h3>
          <p class="text-secondary">We call you or email you an estimate.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fa fa-calendar-check-o sks-big-icon text-dark mb-2"></i>
          <h3 class="text-muted">SET A TIME AND LOCATION</h3>
          <p class="text-secondary">We schedule a time and a location that is best for you.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fa fa-wrench sks-big-icon text-dark mb-2"></i>
          <h3 class="text-muted">WE COME TO YOU!</h3>
          <p class="text-secondary">Our technician will contact you before your appointment and confirm the time and location. The tech will arrive
            and fix your brakes within an hour.</p>
        </div>
      </div>
    </div>
</section>

<section id="home-heading" class="p-5">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-3">
          <img src="/assets/img/yelp.png" class="img-yelp" alt="">
        </div>
        <div class="col-md-9 text-left">
          <h3>Brake Repair Reviews Our Customers Love Us, You Will Too</h3>
          <p>You don’t have to take our word for it! Our customers are quite happy with the convenience, cost, transparency, and quality of our brake repair services. Read what they have to say in their reviews.</p>
          <a href="http://yelp.com/biz/brake-pros-to-go-walnut-creek?utm_medium=badge_star_rating_reviews&utm_source=biz_review_badge" class="btn btn-success btn-lg">Learn More</a>
        </div>
      </div>
    </div>
  </section>