<section id="showcase">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 id="display-3">We will send or mechanic to your location.</h1>
            <p class="lead">
              Skip the repair shop. Our technicians will get your brakes fixed in the comfort of your home or office without having to
              drop your car off, or waste time waiting. </p>
            <a routerLink="/estimate-wizard" class="btn btn-success btn-lg">Get a Free Estimate</a>

          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 id="display-3">Request an estimate online or call.</h1>
            <p class="lead">
              Our fully equipped vans have everything we need to get the job done. Our overhead is lower so we pass the savings on to you.
               All of our work comes with a 12 month or 12,000 mile warranty.
            </p>
            <a routerLink="/estimate-wizard" class="btn btn-success btn-lg">Get a Free Estimate</a>

          </div>
        </div>
      </div>
      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
              <h1 class="text-muted">Schedule a time and location</h1>
              <a routerLink="/estimate-wizard" class="btn btn-success btn-lg">Get a Free Estimate</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section id="home-icons" class="py-5">
  <div class="container-fluid text-center">
    <div class="row">
      <h2 class="text-muted">Get your service done three easy steps:</h2>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-phone sks-big-icon text-dark mb-2"></i>
        <h3 class="text-muted">Request an estimate online or call</h3>
        <p class="text-secondary">We call you or email you an estimate based on preference.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-calendar-check-o sks-big-icon text-dark mb-2"></i>
        <h3 class="text-muted">Schedule a time and location</h3>
        <p class="text-secondary">We schedule a time and a location that is best for you.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa fa-wrench sks-big-icon text-dark mb-2"></i>
        <h3 class="text-muted">We will send or mechanic to your location</h3>
        <p class="text-secondary">Our technician will contact you before your appointment and confirm the time and location. The tech will arrive and
          fix your brakes within an hour.</p>
      </div>
    </div>
  </div>
</section>

<section id="home-heading" class="p-5">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-3">
        <img src="/assets/img/yelp.png" class="img-yelp" alt="">
      </div>
      <div class="col-md-9 text-left">
        <h3>Our Customers Love Us, You Will Too</h3>
        <p>You don’t have to take our word for it! Our customers are quite happy with the convenience, cost, transparency, and
          quality of our services. Read what they have to say in their reviews.</p>
        <a href="https://www.yelp.com/" class="btn btn-success btn-lg" target="_blank" >Learn More</a>
      </div>
    </div>
  </div>
</section>