<div class="container">
  <h3 class="text-secondary">Update Profile</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
          <div id="user-data">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" readonly id="username" class="form-control"  name="username"  value="'sanajys30'">
            </div>
            <button class="btn btn-primary" type="button" >Change Password</button>
            <div class="form-group">
              <label for="email">E-mail</label>
              <input type="email" id="email" class="form-control" ngModel name="email"  required>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="phone" id="phone" class="form-control" ngModel name="phone">
              </div>
            <div class="form-group">
              <label for="address">Address</label>
              <input type="address" id="address" class="form-control" ngModel name="address" >
            </div>
            <div class="form-group">
              <label for="city">City</label>
              <input type="city" id="city" class="form-control" ngModel name="city">
            </div>
            <div class="form-group">
                <label for="state">State</label>
                <input type="state" id="state" class="form-control" ngModel name="state">
              </div>
              <div class="form-group">
                  <label for="zip">Zip Code</label>
                  <input type="zip" id="zip" class="form-control" ngModel name="zip">
                </div>                
          </div>
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select id="secret" class="form-control" ngModel name="secret">
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first teacher?</option>
            </select>
          </div>
          <div class="form-group">
            <label for="answer1">Answer</label>
            <input type="answer1" id="answer1" class="form-control" ngModel name="answer1"  required>
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
        </form>
      </div>
    </div>
  </div>