input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
    border: 1px solid red
}
hr { 
    display: block;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-style: inset;
    border-width: 1px;
}