<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Open Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Completed Requests</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <a href="#searchform" data-toggle="collapse">
        <i class="fa fa-caret-square-o-down"></i> Search </a>
    </h5>
    <div id="searchform" class="collapse">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerLastName">Last Name</label>
              <input type="text" id="customerLastName" class="form-control" ngModel name="customerLastName" placeholder="Last Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="customerFirstName">First Name</label>
              <input type="text" id="customerFirstName" class="form-control" ngModel name="customerFirstName" placeholder="First Name">
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <button class="btn btn-primary mb-1" type="submit" [disabled]="!f.valid">Search</button>
            <button class="btn btn-info mb-1" type="button" (click)="clearSearchForm()">Clear</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
        <div class="col-md-3 text-left">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" (click)="previous()">Previous</a>
              </li>
              <li class="page-item" [class.active]="p==currentPage"  *ngFor="let p of pageArray">
                <a class="page-link" href="#">{{p}}</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#" (click)="next()" [class.disabled]="currentPage==totalPages">Next</a>
              </li>
            </ul> 
          </div>

      <div class="col-md-6 text-left">
        <button class="btn btn-warning" type="button" >Edit</button>
        <button class="btn btn-danger" type="button" >Delete</button>
      </div>
      <div class="col-md-3 text-right">Page 1 of 10</div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col"><input type="checkbox" id="all" value="-1"></th>
          <th scope="col">ID#</th>
          <th scope="col">Request Date</th>
          <th scope="col">Status</th>
          <th scope="col">Make/ Model/ Year</th>
  
          <th scope="col">Service Address</th>
          <th scope="col">Scheduled Date</th>
          <th scope="col">Service Date</th>
          <th scope="col">Serviced By</th>
          <th scope="col">Symptoms</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let req of myRequests">
          <td><input type="checkbox" id="requestId" value="{{req.requestId}"></td>
          <td>{{req.requestId}}</td>
          <td>{{req.requestedDate}}</td>
          <td>{{req.serviceStatus}}</td>
          <td>{{req.vehicleYear}} {{req.vehicleMake}} {{req.vehicleModel}}</td>

          <td>{{req.address}}</td>
          <td>{{req.serviceScheduleDatetime}}</td>
          <td>{{req.completionDatetime}}</td>
          <td>{{req.serviceCompletedByFirstName}} {{req.serviceCompletedByLastName}}</td>
          <td>{{req.symptoms}}</td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#">Previous</a>
      </li>
      <li class="page-item" [class.active]="p==currentPage"  *ngFor="let p of pageArray">
        <a class="page-link active"  href="#">{{p}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </div>
</div>