<div class="card">
  <div class="card-header">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" [class.active]="tabname=='OPEN'" href="#" (click)="getRequests($event,'OPEN')">Open Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [class.active]="tabname=='COMPLETED'" (click)="getRequests($event,'COMPLETED')">Completed Requests</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <app-msg-util [messageText]="alertMessage" [showMessage]="hide==0" (msgHidden)="hideAlert()"></app-msg-util>
    <div class="row">
      <div class="col-sm-7">

        <div class="table-responsive">
          <table class="table table-hover table-bordered table-sm">
            <thead >
              <tr>
                <th scope="col-2"> ID# <a href="#" (click)="sort($event,'requestId')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th scope="col-2">Request Date <a href="#" (click)="sort($event,'requestedDate')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th scope="col-2">Status <a href="#" (click)="sort($event,'serviceStatus')"><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th scope="col-4">Make/ Model/ Year</th>
               </tr>
            </thead>
            <tbody>
              <tr [class.table-active]="req.requestId===requestIdSelected" *ngFor="let req of myRequests" (click)="selectRow(req.requestId)">
                <td>{{req.requestId}}</td>
                <td>{{req.requestedDate | date:'fullDate'}}</td>
                <td>{{req.serviceStatus}}</td>
                <td>{{req.vehicleYear}} {{req.vehicleMake}} {{req.vehicleModel}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-3 text-left">
            <nav aria-label="Page navigation">
              <ul class="pagination pagination-sm">
                <li class="page-item">
                  <a class="page-link" href="#" (click)="previous($event)">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                  </a>
                </li>
                <li class="page-item" [class.active]="p==currentPage" *ngFor="let p of pageArray">
                  <a class="page-link" href="#" (click)="gotoPage($event,p)">{{p}}</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" (click)="next($event)">
                    <i class="fa fa-forward" aria-hidden="true"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-9 text-right">Page {{currentPage}} of {{totalPages}}</div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-body">
            <h5 class="font-weight-bold">Details</h5>
            <app-view-estimate [request]="reqSelected"></app-view-estimate>
            <a href="#" class="btn btn-primary" (click)="editRequest($event,reqSelected.requestId)"><i class="fa fa-edit"></i> Edit</a>
            <a href="#" class="btn btn-primary" (click)="deleteMe($event,reqSelected.requestId)"
              data-toggle="modal" data-target="#confirmModal">
              <i class="fa fa-trash"></i> Delete
            </a>
            <app-confirmation-dialog (onOptionClick)="confirmDelete($event)" [messageToShow]="'Do you really want to delete?'"></app-confirmation-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
