<div class="form-group row" *ngIf="request.requestId">
  <label for="requestId" >Request ID: {{request.requestId}}</label>
</div>

<div class="form-group row">
  <label for="customerName" >
    Name: {{request.customerFirstName +' '+ request.customerMiddleName +' '+ request.customerLastName}}
  </label>
</div>

<div class="form-group row">
  <label for="email" >Email: {{request.email}}
    &nbsp;&nbsp;&nbsp;
    Phone: {{request.customerPhone}}
  </label>
</div>


<div class="form-group row">
  <label for="requestedDate">Service Requested On: {{request.requestedDate}}
  &nbsp;&nbsp;&nbsp; Preferred contact: {{request.preferredContactMethod}}</label>
</div>

<div class="form-group row">
  <label for="addressLine1">Address: {{request.addressLine1 }} &nbsp; {{request.addressLine2 }} </label>
</div>

<div class="form-group row">
  <label for="addressZip">Zip/City/State: {{request.addressZip}} &nbsp; {{request.addressCity}} &nbsp; {{request.addressState}} </label>
</div>

<div class="form-group row">
  <label for="vehicleMake" > Make: {{request.vehicleMake}}
    &nbsp; &nbsp; &nbsp; Model: {{request.vehicleModel}}
    &nbsp; &nbsp; &nbsp; Year: {{request.vehicleYear}}
  </label>
</div>

<div class="form-group row">
  <label for="vehicleVin">Car VIN#: {{request.vehicleVin}}
    &nbsp; &nbsp; &nbsp; Car Location: {{request.vehicleLocation}}
  </label>
</div>

<div class="form-group row">
  <label for="symptoms">Symptoms: {{request.symptoms}}  &nbsp; &nbsp;
    Other Comments: {{request.userComments}}</label>
</div>

